#work {
    background-color: $main-clr;
    h2 {
        margin: 2rem;
        text-align: center;
        border-bottom: 2rem solid $soft-clr;
    }
    .myModal {
        position: absolute;
        top: 8rem;
        z-index: 2000;
        height: 5000px;
        width: 100%;
        background-color: rgba( 255, 255, 255, .6);
    }
    #work-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        .project-img {
            width: 70vw;
            margin: 2rem;
            position: relative;
            border-radius: 25px;
            -webkit-box-shadow: 0px 0px 0px 11px #1f1f1f, 0px 0px 0px 13px #191919, 0px 0px 0px 20px #111;
            box-shadow: 0px 0px 0px 11px #1f1f1f, 0px 0px 0px 13px #191919, 0px 0px 0px 20px #111;
            cursor: pointer;
            &:hover {
                -webkit-box-shadow: 7px 17px 20px 6px #1f1f1f, 0px 0px 0px 13px #191919, 0px 0px 0px 20px #111;
                box-shadow: 7px 17px 20px 6px #1f1f1f, 0px 0px 0px 13px #191919, 0px 0px 0px 20px #111;
            }
        }
    }
    .card {
        position: fixed;
        top: 10vh;
        left: 5vw;
        z-index: 3000;
        @include flexCenter(column);
        background-color: white;
        -webkit-box-shadow: 0px 5px 8px 1px rgba(112, 112, 112, 0.69);
        box-shadow: 0px 5px 8px 1px rgba(112, 112, 112, 0.69);
        border-radius: 10px;
        width: 90vw;
        padding: 3rem 0 1rem 0;
        .close-btn {
            font-size: 20px;
            font-weight: 700;
            align-self: flex-end;
            z-index: 5000;
            cursor: pointer;
            position: absolute;
            top: 10px;
            right: 10px;
            &:hover {
                color: $hover-clr;
            }
        }
        .img-cont {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            position: relative;
            .desk-img {
                width: 100%;
                margin-bottom: 2rem;
            }
            .mob-img {
                width: 25%;
                position: absolute;
                top: 50px;
                left: 10px;
                -webkit-box-shadow: -1px 5px 15px 3px rgba(0, 0, 0, 0.34);
                box-shadow: -1px 5px 15px 3px rgba(0, 0, 0, 0.34);
            }
        }
        .description {
            width: 90%;
            text-align: center;
            @include flexCenter(column);
            h3 {
                text-transform: uppercase;
                letter-spacing: 2px;
                font-size: 18px;
            }
            .visit-btn {
                font-size: 14px;
                background-color: black;
                padding: 1rem 2rem;
                border-radius: 10px;
                border-radius: 10px;
                color: $main-clr;
                margin: 1rem;
                border: 1px solid black;
                &:hover {
                    background-color: $main-clr;
                    color: $alt-clr;
                    border: 1px solid black;
                }
            }
        }
    }
}

/// MEDIA QUERIES ///
// Small devices, landscape phones //
@media screen and(min-width: 576px) {
    #work {
        #work-wrapper {
            .project-img {
                width: 50vw;
            }
        }
        .card {
            height: 80vh;
            top: 5vh;
        }
    }
}

// Medium devices, tablets //
@media screen and(min-width: 768px) {
    #work {
        #work-wrapper {
            .project-img {
                width: 50vw;
                margin: 2rem;
            }
        }
        .card {
            height: 80vh;
            .close-btn {
                font-size: 36px;
                right: 20px;
            }
            .img-cont {
                .desk-img {
                    width: 80%;
                }
                .mob-img {
                    width: 15%;
                    top: 150px;
                    left: 80px;
                }
            }
            .description {
                margin: 0;
                h3 {
                    font-size: 20px;
                }
            }
        }
    }
}

// Laptops //
@media screen and(min-width: 1024px) {
    #work {
        @include flexCenter(column);
        h2 {
            font-size: 46px;
        }
        #work-wrapper {
            width: 75%;
            .project-img {
                width: 20vw;
                margin: 3rem;
            }
        }
        .card {
            height: 80vh;
            .close-btn {
                font-size: 36px;
                right: 20px;
            }
            .img-cont {
                .desk-img {
                    width: 60%;
                }
                .mob-img {
                    width: 15%;
                    top: 100px;
                    left: 250px;
                }
            }
            .description {
                margin: 0;
                h3 {
                    font-size: 20px;
                }
            }
        }
    }
}

// Larger desktop screens
@media screen and(min-width: 1440px) {}