@mixin flexCenter($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

@mixin transition($time) {
    -webkit-transition: ($time);
    -o-transition: ($time);
    -ms-transition: ($time);
    -moz-transition: ($time);
    transition: ($time);
}

@mixin transform($property) {
    -webkit-transform: $property;
    -ms-transform: $property;
    transform: $property;
}

@mixin buttonStyle {
    border: none;
    background-color: #a6a7e7bd;
    border-radius: 50px;
    color: $main-clr;
    text-transform: uppercase;
    &:hover {
        background-color: $accent-clr;
    }
}